extends layout

block headContent
	title Litecoin Explorer
	
block content


	- var tzDiff = -parseFloat(browserTzOffset);
	if (userTzOffset != "unset")
		- tzDiff = parseFloat(userTzOffset);

	- var tzMoment = moment.utc(new Date()).add(tzDiff, "hours");
	- var tzDay = tzMoment.format("MM-DD");

	if (getblockchaininfo == null)
		div.alert.alert-danger
			h5.mb-3 Unable to get basic blockchain data
			ul
				li
					p
						b If you just started your node, it may still be initializing.
						div At startup, litecoind verifies its block index before making itself available to serve data. The amount of time the verification process takes depends largely on the speed of the machine litecoind is running on. If you're running litecoind on low powered, inexpensive hardware, don't be surprised if this process takes a long time.
				li
					p
						b If you believe your litecoind node is already initialized...
						div Check your RPC connection info and/or check this application's error log for possible hints about the cause of this issue.
	else

		+dismissableAlert("homepageWelcomeBannerDismissed")
			h5 Litecoin Explorer
				span.fw-light :
					span.fst-italic.ms-1 The free, open-source, easy-to-setup, easy-to-use, self-hosted explorer
			

			span.fw-light Protect your privacy while enjoying the conveniences of public explorers. Made for Litecoiners by Litecoiners. Enjoy!


		if (getblockchaininfo.initialblockdownload && !["regtest"].includes(global.activeBlockchain))
			div.alert.alert-warning.shadow-sm.border.mb-3
				div.fw-bold.mb-1 Initial Block Download (IBD) - In Progress...

				div.mb-1 Your node is currently downloading and verifying blockchain data. Until the process is finished, some features of this tool will be unusable and/or unreliable.

				span.fw-bold Progress: 
				span #{new Decimal(getblockchaininfo.verificationprogress).times(100).toDP(3)}%


		
		include includes/index-network-summary.pug
		
		
		
		
						


		if (latestBlocks)
			.d-flex.justify-content-between
				div
					+sectionTitle("Latest Blocks")

				div
					a.small.ms-2(href="./blocks") Browse blocks &raquo;

			+contentSection
				- var blocks = latestBlocks;
				- var blockOffset = 0;

				include includes/blocks-list.pug
							

		+contentSection("Tools")
			include includes/tools-card.pug
				

block endOfBody
	script.
		var audio = new Audio('./audio/609335__kenneth_cooney__levelup.wav');
		var tipInfo = null;

		function refreshHalvingCountdownUI() {
			$.get("./snippet/index-halving-countdown", function(data) {
				$("#index-halving-countdown").html(data);
				enableTooltipsAndPopovers();
			});
		}

		function checkHalvingCountdown() {
			$.get("./api/blocks/tip", function(data) {
				if (data.height > tipInfo.height) {
					tipInfo = data;

					audio.play();

					refreshHalvingCountdownUI();
				}

				console.log(tipInfo);
			});
		}

		$(document).ready(function() {
			$.get("./snippet/next-block", function(data) {
				$("#index-next-block").html(data);
				enableTooltipsAndPopovers();
			});

			$.get("./api/blocks/tip", function(data) {
				tipInfo = data;
			});

			if ($("#index-halving-countdown-wrapper").length) {
				refreshHalvingCountdownUI();

				setInterval(checkHalvingCountdown, 3000);
			}
		});
		
